body {
	margin: 0;
	padding: 0;
	
	font-family: Trebuchet, sans-serif;
}

nav ul {
	float: right;
	color: white;
	list-style: none;
	display: flex;
}

nav ul li {
	padding: 50px;
}

h1 {
	color: white;
	text-align: center;
	padding: 20px;
}

p {
	color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn-1 {
	background-color: #0984e3;
	color: white;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-2 {
	background-color: #00b894;
	color: white;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.botones {
	padding: 20px 0 30px 0;
	text-align: center;
}

.bgimage {
	background-image: url('images/bg.jpeg');
	background-size: cover;
}

.logo img {
	display: block;
	width: 200px;
	padding: 50px;
	max-width: 200px;
}

.cuerpo h3 {
	text-align: center;
}

.cuerpo p {
	color: black;
	text-align: center;
}

.cuerpo img {
	width: 400px;
}