body {
     margin: 0;
     padding: 0;
     font-family: Trebuchet, sans-serif;
}
 nav ul {
     float: right;
     color: white;
     list-style: none;
     display: flex;
}
 nav ul li {
     padding: 50px 25px 0px 0px;
}
 h1 {
     color: white;
     text-align: center;
     padding: 20px;
}
 h2 {
     text-align: center;
     color: #636e72;
}
 p {
     color: white;
}
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}
 .btn-1 {
     background-color: #0984e3;
     color: white;
     border: none;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}
 .btn-2 {
     background-color: #00b894;
     color: white;
     border: none;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}

.btn-3 {
     background-color: #b2bec3;
     color: white;
     border: none;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}

 .botones {
     padding: 20px 0 30px 0;
     text-align: center;
}
 .bgimage {
     background-image: url('images/bg.jpeg');
     background-size: cover;
}
 .logo img {
     display: block;
     width: 200px;
     padding: 50px;
     max-width: 200px;
}
 .cuerpo h3 {
     text-align: center;
     color: #636e72;
}
 .cuerpo p {
     color: #636e72;
     text-align: center;
}
 .cuerpo img {
     width: 400px;
}
 .info {
     background-color: #f1f1f1;
     padding: 35px;
     border-top: 1px solid #b2bec3;
     border-bottom: 1px solid #b2bec3;
     text-align: center;
}
 .info p {
     color: #636e72;
     text-align: center;
}
 .footer {
     padding: 40px;
}
 .left {
     float: left;
}
 .right {
     float: right;
}
 .label-style {
     box-sizing: border-box;
     border: 1px solid #b2bec3;
     border-radius: 3px;
     padding: 7px;
     outline: none;
}
 